*.user
/.vs
/GTANetworkServer
/ModTool/.vs
/ModTool/bin
/ModTool/obj
/Principal/bin
/Principal/obj
/RealLife.TypeScript/bin
/RealLife.TypeScript/obj
/RealLifeShared.TypeScript/bin
/RealLifeShared.TypeScript/obj
/RealLifeUi/.vs
/RealLifeUi/bin
/RealLifeUi/obj
/RealLiteUi.TypeScript/bin
/RealLiteUi.TypeScript/obj