*.user
/.vs
/GTANetworkServer
/Principal/bin
/Principal/obj
/RealLife.TypeScript/bin
/RealLife.TypeScript/obj
/RealLifeDominio.TypeScript/bin
/RealLifeDominio.TypeScript/obj
/RealLifeUi/.vs
/RealLifeUi/bin
/RealLifeUi/obj
/RealLiteUi.TypeScript/bin
/RealLiteUi.TypeScript/obj